<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <a href="/google">
        <h1>Google</h1>
    </a>
    <a href="/facebook">
        <h1>FaceBook</h1>
    </a>
    <a href="/jwt/register">
        <h1>Register(JWT)</h1>
    </a>
    <a href="/jwt/login">
        <h1>Login(JWT)</h1>
    </a>
    
</body>
</html>