<a href="/facebook/logout">Logout</a>

<h1>
  HI!!  <%= user._json.email  %>
  <br>
  username: <%= user._json.first_name %> <%= user._json.last_name %>
</h1>
<p><b>Facebook id</b>: -<% user.id %></p>